body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B8CBD0;
}
body #root {
  width: 1400px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 600px) {
  body #root {
    height: auto;
    width: 100%;
  }
}

.login-container {
  width: 100%;
  display: flex;
}
.login-container .presentation, .login-container .connection {
  width: 50%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #709CA7;
}
.login-container .presentation {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.login-container .presentation img {
  width: 350px;
}
.login-container .presentation p {
  font-size: 2rem;
  text-align: center;
  max-width: 75%;
  margin: 12px 0;
}
@media screen and (max-width: 725px) {
  .login-container .presentation img {
    max-width: 90%;
  }
  .login-container .presentation p {
    font-size: 1.5rem;
  }
}
.login-container .connection {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.login-container .connection h2 {
  margin: 0;
  font-size: 2.8rem;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}
.login-container .connection form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #B8CBD0;
  width: 90%;
  min-height: calc(80% - 24px);
  margin-bottom: 24px;
  border-radius: 5px;
}
.login-container .connection form label {
  font-size: 1.2rem;
}
.login-container .connection form label:first-child {
  margin-top: 24px;
}
.login-container .connection form input {
  margin: 16px 0;
  width: 75%;
  padding: 18px 12px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
}
.login-container .connection form input::placeholder {
  font-size: 1.2rem;
}
.login-container .connection form .submit {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.login-container .connection form .submit:hover {
  background-color: #137C8B;
  color: white;
}
.login-container .connection form .error {
  color: rgb(92, 4, 4);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.1rem;
}
.login-container .connection form p span {
  font-weight: bold;
  color: orangered;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .login-container {
    flex-direction: column;
  }
  .login-container .presentation, .login-container .connection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.logged-container {
  background: #344D59;
  width: 1400px;
  min-height: 800px;
  display: flex;
}
.logged-container .results {
  width: 900px;
  height: 100%;
}

.operation-container {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  justify-content: space-between;
  align-items: center;
  background: #709CA7;
  box-sizing: border-box;
  border-right: 3px solid #B8CBD0;
}
.operation-container h1 {
  margin: 0;
  text-transform: uppercase;
  width: 100%;
  background: #344D59;
  text-align: center;
  padding: 12px 0;
  color: whitesmoke;
}
.operation-container .infos {
  color: darkred;
  font-size: 1.1rem;
  text-align: center;
}
.operation-container .categorie {
  width: 300px;
  color: #344D59;
}
.operation-container .categorie h3 {
  margin: 0;
  text-align: center;
  padding: 4px 0;
  text-transform: uppercase;
}
.operation-container .categorie .chooseType {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.operation-container .categorie .chooseType button {
  border: none;
  box-sizing: border-box;
  width: 33%;
  padding: 12px 0;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}
.operation-container .categorie .chooseType button:hover {
  background: #344D59;
  color: whitesmoke;
}
.operation-container .categorie .chooseType span {
  display: block;
  width: 100%;
  text-align: center;
}
.operation-container .categorie .chooseCategorie .formList {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 12px;
}
.operation-container .categorie .chooseCategorie .formList label {
  padding-bottom: 8px;
}
.operation-container .categorie .chooseCategorie .formList select {
  border: none;
  border-radius: 5px;
  padding: 8px 0;
  font-size: 1.1rem;
}
.operation-container .categorie .chooseCategorie span {
  display: block;
  width: 100%;
  text-align: center;
}
.operation-container .calculatrice {
  width: 300px;
  background: #B8CBD0;
}
.operation-container .calculatrice .input {
  margin: 0;
  text-align: right;
  padding: 12px 24px;
  font-weight: 900;
  font-size: 3rem;
  border: 1px solid #344D59;
  display: flex;
  justify-content: space-between;
}
.operation-container .calculatrice .input .positive {
  color: green;
}
.operation-container .calculatrice .input .negative, .operation-container .calculatrice .input .infos {
  color: darkred;
}
.operation-container .calculatrice .calc {
  height: 400px;
  background: blue;
  display: grid;
  grid-template-areas: "a z e" "q s d" "w x c" "t y u";
}
.operation-container .calculatrice .calc .touch, .operation-container .calculatrice .calc .submit {
  width: 98px;
  height: 98px;
  border: 1px solid #344D59;
  background-color: #B8CBD0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.operation-container .calculatrice .calc .touch:nth-child(1), .operation-container .calculatrice .calc .submit:nth-child(1) {
  grid-area: a;
}
.operation-container .calculatrice .calc .touch:nth-child(2), .operation-container .calculatrice .calc .submit:nth-child(2) {
  grid-area: z;
}
.operation-container .calculatrice .calc .touch:nth-child(3), .operation-container .calculatrice .calc .submit:nth-child(3) {
  grid-area: e;
}
.operation-container .calculatrice .calc .touch:nth-child(4), .operation-container .calculatrice .calc .submit:nth-child(4) {
  grid-area: q;
}
.operation-container .calculatrice .calc .touch:nth-child(5), .operation-container .calculatrice .calc .submit:nth-child(5) {
  grid-area: s;
}
.operation-container .calculatrice .calc .touch:nth-child(6), .operation-container .calculatrice .calc .submit:nth-child(6) {
  grid-area: d;
}
.operation-container .calculatrice .calc .touch:nth-child(7), .operation-container .calculatrice .calc .submit:nth-child(7) {
  grid-area: w;
}
.operation-container .calculatrice .calc .touch:nth-child(8), .operation-container .calculatrice .calc .submit:nth-child(8) {
  grid-area: x;
}
.operation-container .calculatrice .calc .touch:nth-child(9), .operation-container .calculatrice .calc .submit:nth-child(9) {
  grid-area: c;
}
.operation-container .calculatrice .calc .touch:nth-child(10), .operation-container .calculatrice .calc .submit:nth-child(10) {
  grid-area: t;
}
.operation-container .calculatrice .calc .touch:nth-child(11), .operation-container .calculatrice .calc .submit:nth-child(11) {
  grid-area: y;
}
.operation-container .calculatrice .calc .touch:nth-child(12), .operation-container .calculatrice .calc .submit:nth-child(12) {
  grid-area: u;
}
.operation-container .calculatrice .calc .touch:hover, .operation-container .calculatrice .calc .submit:hover {
  color: whitesmoke;
  cursor: pointer;
  background: #7A90A4;
}
.operation-container .calculatrice .reset {
  margin: 0;
  cursor: pointer;
  text-align: center;
  display: block;
  border: 1px solid #344D59;
  padding: 12px 0;
}/*# sourceMappingURL=index.css.map */